.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

.fond{
    background-color:  #343a40 ;
    list-style: none ;
    height: 70px;
    width: 100%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
    
}
