.button-general{
    display:flex;
    }
    
    .button{
            width:100%;
            padding:0;
            height:50px;
            text-decoration: none;
            background: #ffffff;
            color: #ff6b81;
            border-bottom: solid 4px #2f3542;
            border-radius: 3px;
    }