.button-general{
    display:flex;
    }
    
    .button{
            width:100%;
            padding:0;
            height:50px;
            text-decoration: none;
            background:rgb(116, 12, 12);
            color: #FFF;
            border-bottom: solid 4px #2c0505;
            border-radius: 3px;
    }