.carousel1 {
    width: 100%;
    max-height: 600px;
    margin: 0% auto;
    overflow:hidden;    
}

.description{
    max-width: 720px;
    padding: 10px;
    box-sizing: border-box;
    margin: 40px auto;
}
